.dz-container {
    border-width: 2px;
    border-radius: 20px;
    border-style: dashed;
    border-color: #ccc;
    font-family: sans-serif;
    padding-bottom: 21px;
}

.dz-container.highlight {
    border-color: blue;
}

#dz-previews {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    min-height: 175px;
}

.preview {
    position: relative;
    border-radius: 21px;
    width: 175px;
    height: 175px;
    min-width: 175px;
}

.preview:hover {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.close {
    position: absolute;
    font-size: 89px;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.preview:hover > .close {
    opacity: 1;
}

.dz-img {
    border-radius: 21px;
    object-fit: cover;
    width: 175px;
    height: 175px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.dropzone-label {
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 1rem 2rem 1rem 2rem;
}

.form-check {
    display: flex;
}

.dz-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.dz-valid {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}