{% extends 'admin/model/edit.html' %}

{% block head %}
    {{ super() }}
    {{ dropzone.load_css() }}
    <style>
        .dz-image > img {
            width: 120px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ super() }}
    {% set title = model.title %}
    {% set filename = model.images[0] %}
    {% set url = "https://bucketeer-7ae0b65a-5970-48f0-9da2-89eb2800f810.s3.amazonaws.com/public/" + model.title | replace(" ", "_") + '/' + filename %}
    {{ dropzone.create(action=url_for('product.edit_view')) }}
    {{ dropzone.load_js() }}
    {{ dropzone.config(
        custom_init="
            let dz = this; 
            let mockFile = {name: '" + filename + "', size: 60000, url: '" + url + "', accepted: true}; 
            dz.files.push(mockFile);
            dz.emit('addedfile', mockFile); 
            dz.emit('thumbnail', mockFile, mockFile.url); 
            dz.emit('complete', mockFile);
        ",
        custom_options="
            uploadMultiple: true,
            addRemoveLinks: true
        "
    ) }}
{% endblock %}