{% extends "admin/layout.html" %}

{% block app_content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('admin.product') }}">LIST ({{ products | length }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.create') }}">CREATE</a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    {% for header in headers %}
                        <th class="column-header">{{ header | title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in products %}
                    <tr>
                        <td class="edit-delete">
                            <a class="fa fa-pencil-square-o fa-lg" aria-hidden="true" href="{{ url_for('admin.update', id=row.id) }}"></a>
                            <a class="fa fa-trash fa-lg" aria-hidden="true" href="{{ url_for('admin.delete', id=row.id) }}"></a>
                        </td>
                        {% for col in headers %}
                            {% if col == "sold" or col == "slideshow" %}
                                <td><i class="fa {{ 'fa-check-circle-o' if row[col] else 'fa-circle-o' }}" aria-hidden="true"></i></td>
                            {% else %}
                                <td>{{"$" if col == "price"}}{{ row[col] }}{{'"' if col == "height" or col == "width"}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="nav pagination mb-3">
            <li class="page-item {{'disabled' if not prev_url}}">
                <a class="page-link" href="{{ prev_url if prev_url else '#' }}">&laquo; Previous</a>
            </li>
            <li class="page-item {{'disabled' if not next_url}}">
                <a class="page-link" href="{{ next_url if next_url else '#' }}">Next &raquo;</a>
            </li>
        </ul>
    </div>
{% endblock %}
