{% extends 'admin/layout.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js" integrity="sha512-Eezs+g9Lq4TCCq0wae01s9PuNWzHYoCMkE97e2qdkYthpI0pzC3UGB03lgEHn2XM85hDOUF6qgqqszs+iXU4UA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block app_content %}
	<div class="container-fluid form-group">
		<form class="mb-3 form needs-validation" action="{{ url_for('admin.update', id=listing['id']) }}" enctype="multipart/form-data" method="POST" novalidate>
			<div class="mb-3 row">
				<div class="col">
					<label for="title" class="form-label">Title <strong style="color: red">*</strong></label>
					<input id="title" name="title" value="{{ listing['title'] }}" class="form-control" type="text" required />
					<div class="invalid-feedback">Please enter a title.</div>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col input-group">
					<label for="price" class="form-label">Price <strong style="color: red">*</strong></label>
					<div class="input-group">
						<span class="input-group-text">$</span>
						<input id="price" name="price" value="{{ listing['price'] }}" class="form-control" type="number" min="0" placeholder="0" required />
					</div>
					<div class="invalid-feedback">Please enter a price.</div>
				</div>
				<div class="col">
					<label for="medium" class="form-label">Medium</label>
					<select id="medium" name="medium" value="{{ listing['medium'] }}" class="form-select">
						<option>Painting</option>
						<option>Print</option>
					</select>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col">
					<label for="height" class="form-label">Height <strong style="color: red">*</strong></label>
					<div class="input-group">
						<input id="height" name="height" value="{{ listing['height'] }}" class="form-control" type="number" min="0" placeholder='0"' required />
						<span class="input-group-text">inches</span>
                    </div>
					<div class="invalid-feedback">Please enter a height.</div>
				</div>
				<div class="col">
					<label for="width" class="form-label">Width <strong style="color: red">*</strong></label>
					<div class="input-group">
						<input id="width" name="width" value="{{ listing['width'] }}" class="form-control" type="number" min="0" placeholder='0"' required />
						<span class="input-group-text">inches</span>
                    </div>
					<div class="invalid-feedback">Please enter a width.</div>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col">
					<label for="description" class="form-label">Description <strong style="color: red">*</strong></label>
					<textarea id="description" name="description" class="form-control" rows="5" required>{{ listing['description'] }}</textarea>
					<div class="invalid-feedback">Please enter a description.</div>
				</div>
			</div>
			<div class="mb-3 row form-check">
				<div class="col">
					<label for="slideshow" class="form-check-label">Include in Homepage Slideshow</label>
					<input id="slideshow" name="slideshow" class="form-check-input" type="checkbox" {{ "checked" if listing['slideshow'] }}>
				</div>
				<div class="col">
					<label for="sold" class="form-check-label">Sold</label>
					<input id="sold" name="sold" class="form-check-input" type="checkbox" {{ "checked" if listing['sold'] }}>
				</div>
			</div>
			<div class="mb-3 row">
				<div id="dropzone" class="col dz-container">
					<label for="images" class="dropzone-label">
						Drag and drop, or click to upload images <strong style="color: red">*</strong>
					</label>
					<input id="images" name="images" type="file" multiple accept="image/*" onchange="handleFiles(this.files)" autocomplete="off" class="form-control" style="display: none;" required />
					<div id="dz-previews"></div>
					<div class="invalid-feedback">Please upload at least one photo.</div>
				</div>
			</div>
			<div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
				<a class="btn btn-danger" href="{{ url_for('admin.delete', id=listing['id']) }}">Delete</a>
                <a class="btn btn-secondary" href="{{ url_for('admin.product') }}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
	<script type="text/javascript">
		const files = {{ files | tojson }};
		prefill(files);
	</script>
{% endblock %}