* {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1.5;
}