{% extends "layout.html" %}

{% block app_content %}

    <div class='about-container'>
        <p>
            Thanks so much for visiting!
        </p>
        <br>
        <p>
            All the paintings in my shop are original palette knife oil paintings on canvas and giclee 
            art prints made from my original artwork. All the paintings in my shop are on gallery 
            wrapped canvases with 1-1/2 inch wide edges that are staple free and painted white.
        </p>
        <br>
        <p>
            Paintings are shipped stretched on 1-1/2 inch wide stretcher bars (excluding paintings shipped 
            outside U.S.). The paintings are carefully packed in bubble wrap and boxed in heavy duty boxes. 
            Large paintings sent outside the continental United States are removed from the stretcher bars 
            and shipped rolled in a tube, stretcher bars not included.
        </p>
        <br>
        <p>
            All my art prints are from my original oil paintings and are printed with certified archival 
            inks on heavyweight matte giclee fine art paper.
        </p>
        <br>
        <p>
            I try to ship paintings the next day if possible, but some larger paintings may need an extra 
            day or two to get carefully packed. The smallest paintings are usually sent by USPS Priority 
            mail and larger paintings are sent by UPS or FedEx Ground.
        </p>
        <br>
        <p>
            If you have any questions about my artwork I'd be happy to answer your questions.
        </p>
        <br>
        <p>
            ***International Customers*** Most paintings, except for the smallest ones, will have 
            to be removed from stretcher bars and rolled in a tube, stretcher bars not included.
        </p>
    </div>

{% endblock %}