{% extends "layout.html" %}

{% block app_content %}

    <div class='about-container app-content'>
        <p>
            Thanks for visiting!
        </p>
        <br>
        <p>
            The paintings you see here are oils, original and distinct, like snowflakes - no two are alike.
        </p>
        <br>
        <p>
            I am interested in color; its many hues, endless variations, and its ability to evoke a mood. 
            It is in that spirit that I approach each canvas when I set to paint. Painting with just a 
            palette knife on either linen or canvas affords me the greatest opportunity to blend colors 
            resulting in the effects I like. 
        </p>
        <br>
        <p>
            Purchased paintings are packaged with care and shipped as soon as possible but no longer 
            than three days after purchasing.
        </p>
        <br>
        <p>
            Some of my original paintings have been reproduced using certified archival inks transferred 
            onto heavyweight matte Giclee fine art paper. Sold as prints they are a favorite among the 
            art collecting public. 
        </p>
        <br>
        <p>
            For questions please <a href="{{ url_for('contact') }}">contact me</a> through the site; I will do my best to answer them. 
            Thanks again for visiting. 
        </p>
        <br>
        <p>
            &mdash;Tracey
        </p>
    </div>

{% endblock %}