{% extends "layout.html" %}

{% block app_content %}

    <h5 style="text-align: center; margin: 2em 0;">Click on an image to view details</h5>
    <div id="image-grid" class='container-fluid'>
        <div class='row'></div>
    </div>

    <script type='text/javascript'>
        var pics = {{ pics | tojson }};
        var row = 0;
        var width = screen.width;
        const grid = document.getElementById('image-grid');

        function createRow() {
            var new_row = document.createElement('div');
            new_row.className = 'row';
            grid.append(new_row);
            row++;
        }

        function createGrid() {
            for (let i = 0; i < pics.length; i++) {
                var col = document.createElement('div');
                col.className = 'col-xs-6 col-sm-4 col-md-4 col-lg-4';

                var filename = pics[i];
                var link = document.createElement('a');
                var img = document.createElement('img');
                link.href = '{{ url_for("painting", filename="filename") }}'.replace('filename', filename);
                img.className = "img-responsive hvr-grow";
                img.src = 'static/pics/' + filename;
                
                link.append(img);
                col.append(link);
                grid.children[row].append(col);

                if ((width < 768 && grid.children[row].children.length === 2) || (width >= 768 && grid.children[row].children.length === 3)) {
                    createRow();
                }
            }
        }

        createGrid();
    </script>

{% endblock %}