{% extends "layout.html" %}

{% block app_content %}

    <h5 style="text-align: center; margin: 3em 0;">Click on an image to view details</h5>
    <div id="image-grid" class='container-fluid'>
        <div class='row'></div>
    </div>

    <script type='text/javascript'>
        var images = {{ images | tojson }};
        var row = 0;
        var width = screen.width;
        const grid = document.getElementById('image-grid');

        function createRow() {
            var new_row = document.createElement('div');
            new_row.className = 'row';
            grid.append(new_row);
            row++;
        }

        function createGrid() {
            if (images) {
                for (let i = 0; i < images.length; i++) {
                    var col = document.createElement('div');
                    col.className = 'col-xs-6 col-sm-4 col-md-4 col-lg-4';

                    var dir = images[i].dir;
                    var filename = images[i].filename;
                    var link = document.createElement('a');
                    var img = document.createElement('img');
                    link.href = '{{ url_for("painting", dir="dir") }}'.replace('dir', dir);
                    img.className = "img-responsive hvr-grow";
                    img.src = `static/images/${dir}/${filename}`;
                    
                    link.append(img);
                    col.append(link);
                    grid.children[row].append(col);

                    if ((width < 768 && grid.children[row].children.length === 2) || (width >= 768 && grid.children[row].children.length === 3)) {
                        createRow();
                    }
                }
            }
        }

        createGrid();
    </script>

{% endblock %}