{% extends "layout.html" %}

{% block app_content %}
    <div class="app-content">
        <p style="text-align: center;">Click on an image to view details</p>
        <div id="image-grid" class='container-fluid'>
            <div class='row'>
                {% for img in files %}
                    <div class="col-sm-6 col-md-4">
                        <a href="{{ url_for('main.painting', path=img.path) }}">
                            <img src={{ img.filename }} class="img-fluid hvr-glow">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
