{% extends "layout.html" %}

{% block app_content %}

    <div class='about-container'>
        <h2>Cloudy Modern Abstract Landscape and Sky Paintings in Oil on Canvas</h2>
        <br>
        <p>
            I live in a small town in southeast Michigan where there are many cloudy, rainy, foggy and snowy days to inspire me.
        </p>
        <br>
        <p>
            I love to paint clouds; big or small, soft and warm, in every color combination I can think of.
        </p>
        <br>
        <p>
            I paint with the canvas flat on my kitchen table using a palette knife to layer and blend the paint in warm and cool colors for a contrast between light and shadows.
        </p>
        <br>
        <p>
            I work from memory and imagination, using color and light to convey mood and atmosphere.
        </p>
    </div>

{% endblock %}