{% extends "layout.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}

{% block app_content %}

    <script type="text/javascript">
        const slideshow = {{ slideshow | tojson }};
    </script>

    <div class='container-fluid app-content carousel-container'>
        <h3 class='home-header'>Original Abstract Oil Paintings on Canvas and Prints</h3>
        <div class='carousel'>
            {% for image in slideshow %}
                <div class="carousel-cell">
                    <img src={{ image }} class="carousel-img">
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script type="text/javascript">
        const flkty = new Flickity('.carousel', {
            wrapAround: true,
            autoPlay: 5000,
            imagesLoaded: true
        });
    </script>

{% endblock %}