{% extends "layout.html" %}

{% block app_content %}
    <div class='container-fluid app-content carousel-container'>
        <h3 class='home-header'>Original Abstract Oil Paintings on Canvas and Prints</h3>
        <div id="homeCarousel" class='carousel carousel-dark slide carousel-fade'  data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for image in slideshow['images'] %}
                    <button 
                        type="button" 
                        data-bs-target="#homeCarousel" 
                        data-bs-slide-to="{{loop.index0}}" 
                        class="{{'active' if loop.index0 == 0 else ''}}"
                        aria-current="{{'true' if loop.index0 == 0 else 'false'}}" 
                        aria-label="{{'Slide ' ~ loop.index | string }}"
                    ></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for image in slideshow['images'] %}
                    <div class="carousel-item {{'active' if loop.index0 == 0}}">
                        <a href="{{ url_for('main.painting', path=slideshow['titles'][loop.index0]) }}">
                            <img src="{{ image }}" class="d-block">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}
