{% extends "layout.html" %}

{% block styles %}
    {{ super() }}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/painting.css') }}">
{% endblock %}

{% block app_content %}
    <div class='container app-content'>
        <div class='row mb-3'>
            <div class="col">
                <a href="/painting/{{ data.prev }}" id="prev-painting" class="hvr-icon-back paint-nav">
                    <i class="fa fa-chevron-left hvr-icon"></i>
                    Previous
                </a>
                <a href="/painting/{{ data.next }}" id="next-painting" class="hvr-icon-forward paint-nav">
                    Next
                    <i class="fa fa-chevron-right hvr-icon"></i>
                </a>
            </div>
        </div>
        <div class="row mb-3 painting">
            {% if data.filenames|length > 1 %}
                <div class="col col-md-2 thumbnail-container">
                    {% for image in data.filenames %}
                        <img 
                            src="{{ image }}" 
                            class="img-thumbnail hvr-round-corners {{'active' if loop.index0 == 0}}" 
                            data-bs-target="#mainCarousel"
                            data-bs-slide-to="{{ loop.index0 }}"
                            onclick="activateImg(this)" 
                        />
                    {% endfor %}
                </div>
                <div class="col col-md-10">
                    <div id="mainCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
                        <div class="carousel-inner"> 
                            {% for image in data.filenames %}
                                <div class="carousel-item {{'active' if loop.index0 == 0}}">
                                    <img 
                                        src="{{ image }}" 
                                        class="d-block img-responsive" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#imgModal" 
                                        onclick="setModal(this)"
                                    />
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div> 
            {% else %}
                <img 
                    src="{{ data.filenames[0] }}"
                    class="d-block img-responsive" 
                    data-bs-toggle="modal" 
                    data-bs-target="#imgModal" 
                    onclick="setModal(this)"
                /> 
            {% endif %}
        </div>
        <div class='row mb-3'>
            <div class='col-md-8'>
                <div class='row text-center'>
                    <h1 id="title"><u>{{data.title}}</u></h1>
                </div>
                <div class='row text-center'>
                    <h3 id="medium">
                        {{"oil painting on canvas" if data.medium == "Painting" else "fine art print"}}, {{data.width}}"&#215;{{data.height}}"
                    </h3>
                </div>
                <div class='row text-center'>
                    <p id="description">{{data.description}}</p>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='row text-center'>
                    <h3 id='price'>${{data.price}}</h3>
                    <p>+ FREE shipping</p>
                </div>
                <div class='row'>
                    <div id="paypal-button-container"></div>
                </div>
            </div>
        </div>
    </div>

    {# Modal #}
    <div class="modal fade" id="imgModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img id="modalImg" src="{{ data.filenames[0] }}" class="d-block img-responsive" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super () }}
    <script src="{{ url_for('static', filename='js/painting.js') }}"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=Acg6JnsBC_s4BVVnB7oNqF83hK2-kqVD-vAnziK8EhF_c3-SRuZPxgvy-EhnHXnBGFlkvr5hhloYtBZA&currency=USD&disable-funding=venmo"></script>
    <script>
        paypal.Buttons({
            // Sets up the transaction when a payment button is clicked
            createOrder: function(data, actions) {
                const CREATE_ORDER_URL = '{{ url_for("main.create_order") }}';
                return fetch(CREATE_ORDER_URL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'id': {{data.id}}
                    })
                }).then((res) => {
                    return res.json();
                }).then((orderData) => {
                    return orderData.order_id;
                });
            },

            // Finalize the transaction after payer approval
            onApprove: function(data, actions) {
                const CAPTURE_ORDER_URL = '{{ url_for("main.capture_order", order_id="order_id") }}'.replace('order_id', data.orderID);
                return fetch(CAPTURE_ORDER_URL, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'id': {{data.id}}
                    })
                }).then((res) => {
                    return res.json();
                }).then((orderData) => {
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart();
                    }

                    if (errorDetail) {
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg);
                    }

                    actions.redirect('{{ url_for("main.order_confirmation", purchase_id="purchase_id", _external=True) }}'.replace('purchase_id', orderData.purchase_id));
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}
