{% extends "layout.html" %}

{% block app_content %}

    <div class='container-fluid'>
        <div class='row'>
            <img id="painting" class="img-responsive">
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row text-center'>
                    <h1 id="title"></h1>
                </div>
                <div class='row text-center'>
                    <h3 id="medium"></h3>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='row text-center'>
                    <h3 id='price'></h3>
                </div>
                <div class='row'>
                    <div id="paypal-button-container"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const dir = `{{ dir }}`;
        const filenames = {{ filenames | tojson }};
        const img = document.getElementById('painting');
        const url = "https://bucketeer-7ae0b65a-5970-48f0-9da2-89eb2800f810.s3.amazonaws.com/"
        img.src = `${url}${filenames[0]}`;

        const id = `{{ id }}`;
        const title = `{{ title }}`;
        const price = `{{ price }}`;
        const medium = `{{ medium }}`;
        const height = `{{ height }}`;
        const width = `{{ width }}`;
        const description = `{{ description }}`;

        document.getElementById('title').innerHTML = title;
        document.getElementById('price').innerHTML = `$${price}.00`;
        document.getElementById('medium').innerHTML = medium;
        {# document.getElementById('height').innerHTML = height; #}
        {# document.getElementById('width').innerHTML = width; #}
        {# document.getElementById('description').innerHTML = description; #}
    </script>
    <script src="https://www.paypal.com/sdk/js?client-id=Acg6JnsBC_s4BVVnB7oNqF83hK2-kqVD-vAnziK8EhF_c3-SRuZPxgvy-EhnHXnBGFlkvr5hhloYtBZA&currency=USD&disable-funding=venmo"></script>
    <script>
        paypal.Buttons({
            // Sets up the transaction when a payment button is clicked
            createOrder: function(data, actions) {
                const CREATE_ORDER_URL = '{{ url_for("create_order") }}';
                return fetch(CREATE_ORDER_URL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'id': `{{ id }}`
                    })
                }).then((res) => {
                    return res.json();
                }).then((orderData) => {
                    return orderData.order_id;
                });
            },

            // Finalize the transaction after payer approval
            onApprove: function(data, actions) {
                const CAPTURE_ORDER_URL = '{{ url_for("capture_order", order_id="order_id") }}'.replace('order_id', data.orderID);
                return fetch(CAPTURE_ORDER_URL, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'id': `{{ id }}`
                    })
                }).then((res) => {
                    return res.json();
                }).then((orderData) => {
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart();
                    }

                    if (errorDetail) {
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg);
                    }

                    actions.redirect('{{ url_for("order_confirmation", purchase_id="purchase_id", _external=True) }}'.replace('purchase_id', orderData.purchase_id));
                });
            }
        }).render('#paypal-button-container');
    </script>

{% endblock %}